@use '../../../../scss/colors';
@layer large, desktop, tablet, mobile;

:host {
  @layer large {
    button {
      background-color: transparent;
      padding: 14px 34px;
      color: #ffffff;
      border-radius: 10px !important;
      font-size: 18px;
      font-weight: 500;
      border: 1px solid transparent;
      transition: .3s;

      &.purpleBg {
        background-color: colors.$p60;
        border-color: colors.$p60;
      }

      &.active,
      &.contactButton {
        background-color: colors.$g8;
        border-color: colors.$g15;
      }

      &.borderButton {
        border: 1px solid colors.$g15;
      }

      &:hover {
        border-color: colors.$p60;
      }
    }
  }

  @layer desktop {
    @media screen and (min-width: 1200px) and (max-width: 1600px) {
      button{
        padding: 10px 24px;
        font-size: 14px !important;
      }
    }
  }
}
