@defer(){
<div class="featuredProperties">
  <div class="shContainer shButton width-90">
    <app-section-headers [sectionHeader]="sectionHeader"></app-section-headers>
    <app-button [buttonText]="'View All Properties'" [buttonLink]="'/properties'"
      [className]="['borderButton']"></app-button>
  </div>
  <div class="fpContainer width-90">
    <owl-carousel-o [options]="customOptions">
      <ng-template carouselSlide>
        <div class="fpBox">
          <div class="image">
            <img src="../../../../../assets/img/SeasideSerenityVilla.webp" alt="Property Image">
          </div>
          <div class="text">
            <h3>Seaside Serenity Villa</h3>
            <p>A stunning 4-bedroom, 3-bathroom villa in a peaceful suburban neighborhood...</p>
          </div>
          <div class="info">
            <ul>
              <li><i class="bi bi-segmented-nav"></i> 2-Bedrooms</li>
              <li><i class="bi bi-basket3-fill"></i> 4-Bathrooms</li>
              <li><i class="bi bi-building"></i> Vila</li>
            </ul>
          </div>
          <div class="details">
            <div class="price">
              <p>Price</p>
              <span>$550,000</span>
            </div>
            <app-button [buttonText]="'View Property Details'" [buttonLink]="'/properties'"
              [className]="['purpleBg']"></app-button>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="fpBox">
          <div class="image">
            <img src="../../../../../assets/img/MetropolitanHaven.webp" alt="Property Image">
          </div>
          <div class="text">
            <h3>Metropolitan Haven</h3>
            <p>A stunning 4-bedroom, 3-bathroom villa in a peaceful suburban neighborhood...</p>
          </div>
          <div class="info">
            <ul>
              <li><i class="bi bi-segmented-nav"></i> 2-Bedrooms</li>
              <li><i class="bi bi-basket3-fill"></i> 4-Bathrooms</li>
              <li><i class="bi bi-building"></i> Vila</li>
            </ul>
          </div>
          <div class="details">
            <div class="price">
              <p>Price</p>
              <span>$550,000</span>
            </div>
            <app-button [buttonText]="'View Property Details'" [buttonLink]="'/properties'"
              [className]="['purpleBg']"></app-button>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="fpBox">
          <div class="image">
            <img src="../../../../../assets/img/RusticRetreatCottage.webp" alt="Property Image">
          </div>
          <div class="text">
            <h3>Rustic Retreat Cottage</h3>
            <p>A stunning 4-bedroom, 3-bathroom villa in a peaceful suburban neighborhood...</p>
          </div>
          <div class="info">
            <ul>
              <li><i class="bi bi-segmented-nav"></i> 2-Bedrooms</li>
              <li><i class="bi bi-basket3-fill"></i> 4-Bathrooms</li>
              <li><i class="bi bi-building"></i> Vila</li>
            </ul>
          </div>
          <div class="details">
            <div class="price">
              <p>Price</p>
              <span>$550,000</span>
            </div>
            <app-button [buttonText]="'View Property Details'" [buttonLink]="'/properties'"
              [className]="['purpleBg']"></app-button>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="fpBox">
          <div class="image">
            <img src="../../../../../assets/img/RusticRetreatCottage.webp" alt="Property Image">
          </div>
          <div class="text">
            <h3>Rustic Retreat Cottage</h3>
            <p>A stunning 4-bedroom, 3-bathroom villa in a peaceful suburban neighborhood...</p>
          </div>
          <div class="info">
            <ul>
              <li><i class="bi bi-segmented-nav"></i> 2-Bedrooms</li>
              <li><i class="bi bi-basket3-fill"></i> 4-Bathrooms</li>
              <li><i class="bi bi-building"></i> Vila</li>
            </ul>
          </div>
          <div class="details">
            <div class="price">
              <p>Price</p>
              <span>$550,000</span>
            </div>
            <app-button [buttonText]="'View Property Details'" [buttonLink]="'/properties'"
              [className]="['purpleBg']"></app-button>
          </div>
        </div>
      </ng-template>
    </owl-carousel-o>
  </div>
</div>
}
