<div class="features">
  <div class="featuresContainer">
    <div class="featuresBox">
      <div class="icon">
        <img src="../../../../assets/img/home-icon.svg" alt="Featured Icon" width="34px" height="34px">
      </div>
      <p>Find Your Dream Home</p>
      <a [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <i class="bi bi-arrow-up-right-circle"></i>
      </a>
    </div>
    <div class="featuresBox">
      <div class="icon">
        <img src="../../../../assets/img/value-icon.svg" alt="Featured Icon" width="34px" height="34px">
      </div>
      <p>Unlock Property Value</p>
      <a [routerLink]="['/about']" routerLinkActive="active">
        <i class="bi bi-arrow-up-right-circle"></i>
      </a>
    </div>
    <div class="featuresBox">
      <div class="icon">
        <img src="../../../../assets/img/property-icon.svg" alt="Featured Icon" width="34px" height="34px">
      </div>
      <p>Effortless Property Management</p>
      <a [routerLink]="['/properties']" routerLinkActive="active">
        <i class="bi bi-arrow-up-right-circle"></i>
      </a>
    </div>
    <div class="featuresBox">
      <div class="icon">
        <img src="../../../../assets/img/smart-icon.svg" alt="Featured Icon" width="34px" height="34px">
      </div>
      <p>Smart Investments, Informed Decisions</p>
      <a [routerLink]="['/contact']" routerLinkActive="active">
        <i class="bi bi-arrow-up-right-circle"></i>
      </a>
    </div>
  </div>
</div>
