<div class="features">
  <div class="featuresContainer">
    <div class="featuresBox">
      <div class="icon">
        <img src="../../../../assets/img/home-icon.svg" alt="Featured Icon" width="34px" height="34px">
      </div>
      <h2>Find Your Dream Home</h2>
      <a [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" aria-label="Page Link">
        <i class="bi bi-arrow-up-right-circle"></i>
      </a>
    </div>
    <div class="featuresBox">
      <div class="icon">
        <img src="../../../../assets/img/value-icon.svg" alt="Featured Icon" width="34px" height="34px">
      </div>
      <h2>Unlock Property Value</h2>
      <a [routerLink]="['/about']" routerLinkActive="active" aria-label="Page Link">
        <i class="bi bi-arrow-up-right-circle"></i>
      </a>
    </div>
    <div class="featuresBox">
      <div class="icon">
        <img src="../../../../assets/img/property-icon.svg" alt="Featured Icon" width="34px" height="34px">
      </div>
      <h2>Effortless Property Management</h2>
      <a [routerLink]="['/properties']" routerLinkActive="active" aria-label="Page Link">
        <i class="bi bi-arrow-up-right-circle"></i>
      </a>
    </div>
    <div class="featuresBox">
      <div class="icon">
        <img src="../../../../assets/img/smart-icon.svg" alt="Featured Icon" width="34px" height="34px">
      </div>
      <h2>Smart Investments, Informed Decisions</h2>
      <a [routerLink]="['/contact']" routerLinkActive="active" aria-label="Page Link">
        <i class="bi bi-arrow-up-right-circle"></i>
      </a>
    </div>
  </div>
</div>
