<div class="heroSection">
  <div class="heroSectionText">
    <div class="textBox">
      <h1>Discover Your Dream Property</h1>
      <p>Your journey to finding the perfect property begins here. Explore our listings to find the home that matches
        your
        dreams.</p>
      <app-button [buttonText]="'Learn More'" [buttonLink]="'/about'" [className]="['borderButton']"></app-button>
      <app-button [buttonText]="'Browse Properties'" [buttonLink]="'/properties'"
        [className]="['purpleBg']"></app-button>
    </div>
    <div class="heroStats">
      <div class="statsText">
        <h3>200+</h3>
        <p>Happy Customers</p>
      </div>
      <div class="statsText">
        <h3>10k+</h3>
        <p>Properties For Clients</p>
      </div>
      <div class="statsText">
        <h3>16+</h3>
        <p>Years of Experience</p>
      </div>
    </div>
  </div>
  <div class="heroSectionImage">
    <div class="heroImage"></div>
  </div>

</div>
