@use 'scss/colors';
@import '../node_modules/bootstrap/scss/bootstrap';
@import '../node_modules/bootstrap-icons/font/bootstrap-icons.css';
@import "primeicons/primeicons.css";

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: colors.$g8;
  font-family: 'Urbanist', sans-serif;
  font-size: 18px;
  line-height: 1.5;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.img-100 img {
  max-width: 100%;
  height: auto;
}

a {
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}

.width-90 {
  width: 90%;
  margin: 0 auto;
}

.owl-theme .owl-nav {
  display: flex !important;
  justify-content: space-between;
  border-top: 1px solid colors.$g15;
  margin-top: 50px;
  line-height: 1;
  padding-top: 15px;
}

.owl-theme .owl-nav [class*=owl-] {
  background: colors.$g8 !important;
  color: colors.$g60;
  font-size: 24px;
  padding: 14px;
  border: 1px solid colors.$g15;
  transition: .3s;
  border-radius: 50%;
}

.owl-theme .owl-nav [class*=owl-]:hover {
  color: #ffffff;
  background-color: colors.$g10 !important;
}

.shContainer {
  display: flex;
  flex-wrap: wrap;
}

::selection {
  color: #ffffff;
  background-color: colors.$p60;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 10px;
  background-color: colors.$g50;
}

::-webkit-scrollbar-track {
  box-shadow: colors.$g8;
}

::-webkit-scrollbar-thumb {
  background: colors.$g8;
  border: 1px solid colors.$g20;
}

::-webkit-scrollbar-thumb:hover {
  border-color: colors.$g30;
  background: colors.$g20;
}

.p-panelmenu {
  .p-panelmenu-header {
    .p-panelmenu-header-content {
      background: colors.$g8;
      border-color: colors.$g15;

      a {
        color: colors.$g60;

        svg {
          path {
            fill: colors.$p60;
          }
        }
      }
    }
  }

  .p-panelmenu-content {
    background-color: colors.$g15;
    border-color: colors.$g20;

    .p-menuitem {
      &:not(.p-highlight):not(.p-disabled) {
        &.p-focus {
          .p-menuitem-content {
            background-color: colors.$g20;
          }
        }
      }
    }

    .p-menuitem-content {
      &:hover {
        background-color: colors.$g20;
      }
    }

    a {
      svg {
        path {
          fill: colors.$p60;
        }
      }

      .p-menuitem-text {
        color: colors.$g90;
      }

      .p-menuitem-icon {
        color: colors.$p60;
      }
    }
  }
}