<div class="headerTop" [ngClass]="{'hidden': isHidden}">
  <span>✨Discover Your Dream Property with Estatein <a href="#">Learn More</a></span>
  <div class="x-button" (click)="hideHeader()" [attr.aria-hidden]="true">X</div>
</div>
<header class="estateinHeader">
  <nav class="estateinNav width-90">
    <div class="logo">
      <a [routerLink]="['/home']">
        <img src="../../../assets/img/logo.svg" width="48px" height="48px" alt="Esatatein logo">
        <span>Estatein</span>
      </a>
    </div>
    <div class="menuButtons">
      <app-button [buttonLink]="'/home'" [buttonText]="'Home'"></app-button>
      <app-button [buttonLink]="'/about'" [buttonText]="'About'"></app-button>
      <app-button [buttonLink]="'/services'" [buttonText]="'Services'"></app-button>
      <app-button [buttonLink]="'/properties'" [buttonText]="'Properties'"></app-button>
    </div>
    <div class="contactButton">
      <app-button [buttonLink]="'/contact'" [buttonText]="'Contact'" [className]="['active', 'contactButton']"></app-button>
    </div>
  </nav>
</header>
